<form class="user-form">
    <h2 class="user-form__title">User form</h2>
    <input class="user-form__name input" type="text" name="name" placeholder="Name">
    <textarea class="user-form__description input" name="description" id="" placeholder="Description"></textarea>
    <button>Add users</button>
</form>